.title {
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 32px;
  margin-top: var(--mantine-spacing-xs);
  cursor: default;
}

$marginTimeline: 2rem;

.item::before {
  bottom: -$marginTimeline;
}

.item {
  display: flex;
}

.item:where(:not(:first-of-type)) {
  margin-top: $marginTimeline;
}

/* .itemBody {
  margin-top: 1rem;
} */

.itemBullet {
  border-color: red;
}
